
/*Default font*/
$fontFamaly: "Montserrat";

$minWidth: 320px;
$maxWidth: 1600;
$maxWidthContainer: 1150;

/*Colors*/
$blue1: #098FCF;
$blue2: #043C77;
$white1: #F9F9F9;
$white2: #E7E7E7;
$gray1: #D4D4D4;
$gray2: #565656;

@import "basic";

body{
    font-family: $fontFamaly, sans-serif;
    @include adaptiv-font(16, 14, 1);
    color: black;
}

.preload * {
    transition: none !important;
}
.container{
    max-width: $maxWidthContainer + px;
    margin: 0 auto;
    padding: 0 15px;
}
.menu-icon{
    display: none;
    position: relative;
    width: 40px;
    height: 30px;
    cursor: pointer;
    transition: .7s all;
    span{
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: black;
        &:nth-child(1){
            top: 0;
        }
        &:nth-child(2){
            top: 50%;
            transform: translateY(-50%);
        }
        &:nth-child(3){
            bottom: 0;
        }
    }
    &.active{
        display: block;
        span{
            &:nth-child(1){
                top: 48.5%;
                transform: rotate(45deg) translateY(-50%);
            }
            &:nth-child(2){
                opacity: 0;
            }
            &:nth-child(3){
                bottom: 48.5%;
                transform: rotate(-45deg) translateY(50%);
            }
        }
    }
}
.btn--blue {
    padding: min(2vh, 14px) min(1vw, 15px) min(2vh, 16px) min(1vw, 15px);    
    line-height: 1.3;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
    transition: all .3s;
    text-align: center;
    color: white;
    background-color: $blue1;

    &:hover, &:active{
        @media screen and (min-width: 992px) {
            background-color: #0576a4;
        }
    }

    @media screen and (max-width: 650px) {
        padding-top: min(2vh, 10px);
        padding-bottom: min(2vh, 10px);
    }
}

.input {
    padding: min(2vh, 14px) min(1vw, 15px) min(2vh, 16px) min(1vw, 15px);
    background-color: white;
    border: 1px solid #D5D5D5;
    color: $gray2;
}

.title{
    font-weight: 700;
    font-size: 36px;
    @include adaptiv-font(36, 24, 1);
    line-height: 1.2;

    span {
        color: $blue1;
    }
}


.swiper-button-prev, .swiper-button-next {
    &::after{
        font-size: 0;
    }
}


@import "header";
@import "footer";

