/*Default font*/

/*Colors*/

/*Max-width of screen*/

@font-face {
  font-family: "Montserrat";
  font-display: block;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: block;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: block;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: block;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

button {
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  padding: 0;
}

input,
textarea {
  outline: none;
  border: none;
}

img {
  display: inline-block;
}

address {
  font-style: normal;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkbox input[type=checkbox] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
}

.checkbox input[type=checkbox] + span::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 2px solid #dadada;
}

.checkbox input[type=checkbox]:checked + span::before {
  border: 2px solid #009aaf;
}

.checkbox input[type=checkbox]:checked + span::after {
  content: "";
  display: block;
  position: absolute;
  left: 3px;
  top: 3px;
  background-color: #53b5de;
  width: 9px;
  height: 9px;
}

.checkbox span {
  display: block;
  position: relative;
  padding-left: 2em;
}

.select {
  position: relative;
}

.select::after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  pointer-events: none;
}

.select select {
  cursor: pointer;
  background: none;
  border: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}

.select select:focus {
  outline: none;
}

.select select option {
  color: #000000;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: black;
}

.preload * {
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}

.menu-icon {
  display: none;
  position: relative;
  width: 40px;
  height: 30px;
  cursor: pointer;
  -webkit-transition: 0.7s all;
  -o-transition: 0.7s all;
  transition: 0.7s all;
}

.menu-icon span {
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: black;
}

.menu-icon span:nth-child(1) {
  top: 0;
}

.menu-icon span:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.menu-icon span:nth-child(3) {
  bottom: 0;
}

.menu-icon.active {
  display: block;
}

.menu-icon.active span:nth-child(1) {
  top: 48.5%;
  -webkit-transform: rotate(45deg) translateY(-50%);
      -ms-transform: rotate(45deg) translateY(-50%);
          transform: rotate(45deg) translateY(-50%);
}

.menu-icon.active span:nth-child(2) {
  opacity: 0;
}

.menu-icon.active span:nth-child(3) {
  bottom: 48.5%;
  -webkit-transform: rotate(-45deg) translateY(50%);
      -ms-transform: rotate(-45deg) translateY(50%);
          transform: rotate(-45deg) translateY(50%);
}

.btn--blue {
  padding: min(2vh, 14px) min(1vw, 15px) min(2vh, 16px) min(1vw, 15px);
  line-height: 1.3;
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  color: white;
  background-color: #098FCF;
}

.input {
  padding: min(2vh, 14px) min(1vw, 15px) min(2vh, 16px) min(1vw, 15px);
  background-color: white;
  border: 1px solid #D5D5D5;
  color: #565656;
}

.title {
  font-weight: 700;
  font-size: 36px;
  font-size: 36px;
  line-height: 1.2;
}

.title span {
  color: #098FCF;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 0;
}

@media screen and (min-width: 992px) {
  .btn--blue:hover,
  .btn--blue:active {
    background-color: #0576a4;
  }
}

@media (max-width: 1150px) {
  body {
    font-size: calc(14px + 2 * ((100vw - 320px) / 830));
  }

  .title {
    font-size: calc(24px + 12 * ((100vw - 320px) / 830));
  }
}

@media screen and (max-width: 650px) {
  .btn--blue {
    padding-top: min(2vh, 10px);
    padding-bottom: min(2vh, 10px);
  }
}
@supports (-webkit-appearance:none){

}

 @media screen and (min-width: 992px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1150px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 650px){

@supports (-webkit-appearance:none){

}

}
